/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
.reveal-modal {
	z-index:  1000;
}

.reveal-modal-bg {
	z-index: 999;;
}

.reveal-modal .left.wp-post-image {
	float: left;
	margin-right:  10px;
	margin-bottom: 10px;
}
.fitvid {
	clear: both;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Fredericka the Great' serif;
	font-weight: 100;
	font-size: 1.5em;
}
.reveal-modal .close-reveal-modal {
	font-family: 'Fredericka the Great' serif;
	
}

p {
	font-family: 'Muli', arial, sans-serif;
}

.modal-header {
	width: 100%;
	border-bottom: 2px solid #333;
	clear: both;
	padding-bottom: 5px;
	margin-bottom: 10px;
	text-align: center;
}

.modal-footer {
	width: 100%;
	border-top: 2px solid #333;
	clear: both;
	padding-top: 5px;
	margin-top: 10px;
	float: left;
}
.reveal-modal .hathand.hand a{
		margin:  0 auto;
}
.reveal-modal .modal-inner {
	width:  100%;
	clear: both;
	line-height: 22px;
}
.reveal-modal .modal-link {
	margin-top: 10px;
}

.modal-link a {
	text-decoration: none;
	font-family: 'Parisienne', cursive, sans-serif;
	color: #888;
	font-size: 1.2em;
}

/* arrows */

.left.arrow {
	background: url(images/left-arrow-grey.png) no-repeat left 2px;
	padding-left:  15px;
}
.right.arrow {
	background: url(images/right-arrow-grey.png) no-repeat right 2px;
	padding-right:  15px;
}

.keyboard_arrows {
	background: url(images/arrows.png) no-repeat top;
	display: block;
	float:  left;
	margin: 0 10px;
	width:  35px;
	height: 23px;
}
